In [72]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt %inline

SyntaxError: invalid syntax (<ipython-input-72-37e8cc9c3b5a>, line 3)

In [56]:
dataset = pd.read_csv('Salary_Data.csv')

In [57]:
dataset

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [58]:
x = dataset.iloc[:,-1]
y = dataset.iloc[:,1]

In [59]:
from sklearn.cross_validation import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2,random_state = 0) #choose 20, 25 or 30% of data for test data

In [60]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(x_train.to_frame(), y_train.to_frame())

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [65]:
x_test.to_frame()

      Salary
2    37731.0
28  122391.0
13   57081.0
10   63218.0
26  116969.0
24  109431.0

In [66]:
y_pred = regressor.predict(x_test.to_frame())

In [68]:
y_pred

array([[  37731.],
       [ 122391.],
       [  57081.],
       [  63218.],
       [ 116969.],
       [ 109431.]])

In [82]:
plt.scatter(x_train,y_train, color = 'red')
plt.plot(x_train, regressor.predict(x_train.to_frame()), color = 'blue')
plt.show()

In [83]:
plt.scatter(x_test,y_test, color = 'pink')
plt.plot(x_train, regressor.predict(x_train.to_frame()), color = 'black')
plt.show()